body {
	margin: 0;
	padding: 0;
	font-family: Arial;
}

.navbar {
	width: 100%;
	background: #555;
	overflow: auto;
}
.navbar a {
	float: left;
	padding: 20px 25px;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

.navbar a:hover {
	background: #000;
}

.active {
	background: #4caf50;
}

#media(max-width:600px) {
	.navbar a {
		float: none;
		display: block;
	}
}